[Unit]
Description=PhenoHive station service
Documentation=https://github.com/louiscolinet/PhenoHive
After=multi-user.target

[Service]
User=root
WorkingDirectory==/root/PhenoHive
ExecStart=/usr/bin/python /root/PhenoHive/main.py
Restart=on-failure

[Install]
WantedBy=multi-user.target
Alias=phenoHive.service
